a {
    color: black;
    font-family: sans-serif;
    text-decoration: none;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}
.inner {
    border: 1px solid grey;
    margin: 2px;
    padding: 10px;
}
